# Python Data Types

### Built-in Data Types
* In programming, data type is an important concept.

* Variables can store data of different types, and different types can do different things.

* Python has the following data types built-in by default, in these categories:

* Text Type:	str
* Numeric Types:	int, float, complex
* Sequence Types:	list, tuple, range
* Mapping Type:	dict
* Set Types:	set, frozenset
* Boolean Type:	bool

The following code cells contain some examples.

In [12]:
# Integer

print(11)

11

In [13]:
# Float

print(2.14)

2.14

In [14]:
# String

print("Hello, Python 101!")

Hello, Python 101!

You can get Python to tell you the type of an expression by using the built-in type() function. You'll notice that Python refers to integers as int, floats as float, and character strings as str.

In [15]:
print(type(5))

<class 'int'>

In [16]:
print(3.2)

3.2

In [17]:
print("Hello, World!")

Hello, World!

Here are some examples of integers. Integers can be negative or positive numbers:

In [19]:
print(type(-1))

<class 'int'>

In [20]:
print(type(3))

<class 'int'>

What about values like "17" and "3.2"? They look like numbers, but they are in quotation marks like strings.

In [5]:
print(type("17"))
print(type("3.2"))

<class 'str'>
<class 'str'>

### Boolean data type
Boolean is another important type in Python. An object of type Boolean can take on one of two values: True or False:

In [ ]:
# Value true

True

Notice that the value True has an uppercase "T". The same is true for False (i.e. you must use the uppercase "F")

In [28]:
# Value false

False

False

When you ask Python to display the type of a boolean object it will show bool which stands for boolean:

In [29]:
# Type of True

type(True)

bool

In [30]:
# Type of False

type(False)

bool

We can cast boolean objects to other data types. If we cast a boolean with a value of True to an integer or float we will get a one. If we cast a boolean with a value of False to an integer or float we will get a zero. Similarly, if we cast a 1 to a Boolean, you get a True. And if we cast a 0 to a Boolean we will get a False. Let's give it a try:

In [31]:
# Convert True to int

int(True)

1

In [32]:
# Convert 1 to boolean

bool(1)

True

In [33]:
# Convert 0 to boolean

bool(0)

False

In [34]:
# Convert True to float

float(True)

1.0

Double quoted strings can contain single quotes inside them, as in "Bruce's beard", and single quoted strings can have double quotes inside them, as in 'The knights who say "Ni!"'. Strings enclosed with three occurrences of either quote symbol are called triple quoted strings. They can contain either single or double quotes:

In [6]:
print('''"Oh no", she exclaimed, "Ben's bike is broken!"''')

"Oh no", she exclaimed, "Ben's bike is broken!"

Triple quoted strings can even span multiple lines:

In [7]:
print("""This message will span
several lines
of the text.""")

This message will span
several lines
of the text.

### Does Python know about your error before it runs your code?
Python is what is called an interpreted language. Compiled languages examine your entire program at compile time, and are able to warn you about a whole class of errors prior to execution. In contrast, Python interprets your script line by line as it executes it. Python will stop executing the entire program when it encounters an error (unless the error is expected and handled by the programmer, a more advanced subject that we'll cover later on in this course).

Try to run the code in the cell below and see what happens:

In [8]:
# Print string and error to see the running order

print("This will be printed")
print("This will cause an error")
print("This will NOT be printed")

This will be printed
This will cause an error
This will NOT be printed

## Operators and Operands
You can build complex expressions out of simpler ones using operators. Operators are special tokens that represent computations like addition, multiplication and division. The values the operator works on are called operands.

In [37]:
# Addition operation expression

print(43 + 60 + 16 + 41)

160

In [38]:
# Subtraction operation expression

print(50 - 60)

-10

In [39]:
# We can do multiplication using an asterisk

print(5 * 5)

25

In [40]:
# Division operation expression

print(25 / 5)

5.0

In [41]:
# Division operation expression

print(25 / 6)

4.166666666666667

In [42]:
# power operation expression

print(5 ** 2)

25

As seen in the quiz above, we can use the double slash for integer division, where the result is rounded to the nearest integer:

In [43]:
# Integer division operation expression

print(25 // 5)
print(26 // 5)

5
5

In [5]:
print(20 + 32)
print((5 + 9) * (15 - 7))
print(7 + 5)

52
25
112
12

In Python 3, which we will be using, the division operator / produces a floating point result (even if the result is an integer; 4/2 is 2.0). If you want truncated division, which ignores the remainder, you can use the // operator (for example, 5//2 is 2).

In [1]:
print(9 / 5)
print(5 / 9)
print(9 // 5)

1.8
0.5555555555555556
1

In [2]:
print(round(55/10))

6

Pay particular attention to the examples above. Note that 9//5 truncates rather than rounding, so it produces the value 1 rather 2.

The truncated division operator, //, also works on floating point numbers. It truncates to the nearest integer, but still produces a floating point result. Thus 7.0 // 3.0 is 2.0.

In [3]:
print(7.0 / 3.0)
print(7.0 // 3.0)

2.3333333333333335
2.0

The modulus operator, sometimes also called the remainder operator or integer remainder operator works on integers (and integer expressions) and yields the remainder when the first operand is divided by the second. In Python, the modulus operator is a percent sign (%). The syntax is the same as for other operators

In [4]:
print(7 // 3)    # This is the integer division operator
print(7 % 3)     # This is the remainder or modulus operator

2
1

### Converting integers to floats
Let's cast integer 2 to float:

In [23]:
type(2)

int

In [21]:
# Convert 2 to a float

float(2)

2.0

In [22]:
# Convert integer 2 to a float and check its type

type(float(2))

float

When we convert an integer into a float, we don't really change the value (i.e., the significand) of the number. However, if we cast a float into an integer, we could potentially lose some information. For example, if we cast the float 1.1 to integer we will get 1 and lose the decimal information (i.e., 0.1):

In [24]:
# Casting 1.1 to integer will result in loss of information

int(1.1)

1

But if you try to do so with a string that is not a perfect match for a number, you'll get an error. Try the following:

In [25]:
# Convert a string into an integer with error

int('1 or 2 people')

ValueError: invalid literal for int() with base 10: '1 or 2 people'

### Converting numbers to strings
If we can convert strings to numbers, it is only natural to assume that we can convert numbers to strings, right?

In [26]:
# Convert an integer to a string

str(1)

'1'

And there is no reason why we shouldn't be able to make floats into strings as well:

In [27]:
# Convert a float to a string

str(1.2)

'1.2'

## Variables

* A variable is a named place in the memory where a programmer can store data and later retrieve the data using the variable “name”
* Programmers get to choose the names of the variables
* You can change the contents of a variable in a later statement
* Just like with most programming languages, we can store values in variables, so we can use them later on. For example:

In [47]:
x = 12.2
print(x)

12.2

In [48]:
x = 100
print(x)

100

In [44]:
# Store value into variable

x = 43 + 60 + 16 + 41
print(x)

160

We can also perform operations on x and save the result to a new variable:

In [45]:
# Use another variable to store the result of the operation between variable and value

y = x / 60
y

2.6666666666666665

If we save a value to an existing variable, the new value will overwrite the previous value:

In [46]:
# Overwrite variable with new value

x = x / 60
x

2.6666666666666665

It's a good practice to use meaningful variable names, so you and others can read the code and understand it more easily:

In [49]:
# Name the variables meaningfully

total_min = 43 + 42 + 57 # Total length of albums in minutes
total_min

142

In [50]:
# Name the variables meaningfully

total_hours = total_min / 60 # Total length of albums in hours 
total_hours

2.3666666666666667

### Updating Variables

In [51]:
x = 6        # initialize x
print(x)
x = x + 1    # update x
print(x)

6
7

Incrementing and decrementing are such common operations that programming languages often include special syntax for it. In Python += is used for incrementing, and -= for decrementing. In some other languages, there is even a special syntax ++ and -- for incrementing or decrementing by 1. Python does not have such a special syntax. To increment x by 1 you have to write x += 1 or x = x + 1.

In [52]:
x = 6        # initialize x
print(x)
x += 3       # increment x by 3; same as x = x + 3
print(x)
x -= 1       # decrement x by 1
print(x)

6
9
8

# Input
Our programs get more interesting if they don’t do exactly the same thing every time they run. One way to make them more interesting is to get input from the user. Luckily, in Python there is a built-in function to accomplish this task. It is called input.

### n = input("Please enter your name: ")
The input function allows the programmer to provide a prompt string. In the example above, it is “Please enter your name: “. When the function is evaluated, the prompt is shown (in the browser, look for a popup window). The user of the program can type some text and press return. When this happens the text that has been entered is returned from the input function, and in this case assigned to the variable n. Run this example a few times and try some different names in the input box that appears.

In [ ]:
n = input("Please enter your name: ")
print("Hello", n)

In [ ]:
n = input("Enter the value: ")
a = int(n) + 5
print(a)

## Assignment

#### Write a program that will compute the area of a circle. Prompt the user to enter the radius and save it to avariable called radius. Print a nice message back to the user with the answer. pi = 3.14

#### Here is a program that turns a number of seconds into more human readable counts of hours, minutes, and seconds. A call to input() allows the user to enter the number of seconds. Then we convert that string to an integer. From there we use the division and modulus operators to compute the results.

In [ ]:
str_seconds = input("Please enter the number of seconds you wish to convert: ")
total_secs = int(str_seconds)

hours = # calculate the hours
secs_still_remaining = total_secs % 3600
minutes =  secs_still_remaining // 60
secs_finally_remaining = # calculate the remaining seconds

print("Hrs=", hours, "mins=", minutes, "secs=", secs_finally_remaining)